.progress-bar{
    --progress: 50;
    width: 80%;
    height: 50px;
    padding: 5px;
    background-color: #ccc;
    display: flex;
    border-radius: 15px;
}

.progress-bar::before{
    content: "";
    width: calc(var(--progress) * 1%);
    background-color: hsl( calc(var(--progress) * 2) , 80%, 50%);
    transition: all 0.2s ease;
    animation: progresso  9s ;
    animation-iteration-count: infinite;
}

@keyframes progresso {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

/* ======ANIMAÇÃO DE BATALHA======= */

.damageAnimation {
    animation: damageTime 5s;
}

.attackAnimation {
    animation: attackTime 5s;
}

@keyframes damageTime {
    0%{
        transform: rotateZ(-3deg);
        filter: grayscale(1); 
    }
    25%{
        transform: rotateZ(-3deg);
        filter: grayscale(0); 
    }
    50%{
        transform: rotateZ(-3deg);
        filter: grayscale(0); 
    }
    75%{
        transform: rotateZ(-3deg);
        filter: grayscale(1); 
    }
     100%{
        transform: rotateZ(-3deg);
        filter: grayscale(0); 
    }

}

@keyframes attackTime {
    from{
        transform: scale(1.0);
    }
    to{
        transform: scale(1.5);
    }

}

/* ====DANO PLAYER==== */

@keyframes damageTimeP {
    0%{
        transform: rotateZ(3deg);
        filter: grayscale(1); 
    }
    25%{
        transform: rotateZ(3deg);
        filter: grayscale(0); 
    }
    50%{
        transform: rotateZ(3deg);
        filter: grayscale(0); 
    }
    75%{
        transform: rotateZ(3deg);
        filter: grayscale(1); 
    }
     100%{
        transform: rotateZ(3deg);
        filter: grayscale(0); 
    }
}

.damageAnimationP{
    animation: damageTimeP 5s;
}

.protagonist {
    text-align: left;
    position: relative;
}

.enemy {
    text-align: right;
    position: relative;
}

.enemy img {
    width: 20%;
    height: auto;
    transition: 0.5s ease;
}

.protagonist img {
    width: 20%;
    height: auto;
}

.image-container {
    width: 200px;
    height: 200px;
    position: relative;
}

.loading-planet {
    /* width: 1%; */
    height: 50%;
    animation: rotate 6s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }