/* .input-box {
    background: white;
    padding: 0.5rem;
    border-radius: 0.75rem  ;
}

.bg-box {
    background: rgba(143, 88, 155, 0.3);
    border-radius: 10px;
    padding: 20px;
    
}

.planet-box span{
    color: white;

    font-weight: bolder;
}

.planet-box :hover {
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(143, 88, 155, 0.5);
}

.message {
    padding: 20px 40px;
    border: 2px solid white;
    background: white;
}

.logomarca {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    
    font-weight: bold; 
    -webkit-text-stroke: 4px white; 
    
}

.tip-btn {
    font-weight: 300px;
    width: 50px;
    border-radius: 50%;
}




.btl-status-msg {
    height: 400px;
    width: 300px;
    border: #000000 solid;
}


.btl-status-box {
    display: block;
} */
.question-box{
    background-color: #8F589B;
    width: 50%;
    height: 95%;
    border-radius: 30px;
    min-width: 350px;
    min-height:900px;
    padding-bottom: 50px;
}
.pergunta{
    display: flex;
    flex-direction: inherit;
    align-items: center;
    background-color: wheat;
    width: 90%;
    height: 50%;
    min-width: 150px;
    min-height: 50px;
    border-radius: 30px;  
    margin-top: 5%;
    margin-left: 3%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: justify;
    
}
.tip-btn{
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: white;
    width: 4%;
    height: 4%;
}
.botao-resposta{
    display: flex;
    flex-direction: inherit;
    align-items: center;
    width: 90%;
    height: 4%;
    border-radius: 30px;
    min-height: 10px;
    margin-left: 5%;
}
.imagem-combate{
    width: 40%;
    height: 50%;
    min-width: 100px;
    min-height: 100px;
}
.protagonista{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 95%;
    height: 45%;
    margin-bottom: 10%;
}
.inimigo{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 95%;
    height: 45%;
    margin-top: 20%;
    
}
hr{
    width: 30%;
    height: 1%;
    border-radius: 10px;
    background-color: red;
    border: none;
    margin-left: 5%;
    margin-right: 5%;
}
.combat-box{
    width: 50%;
}
